@import "tailwindcss";

@theme inline {
  --font-lora: var(--font-lora), Georgia, serif;
  --font-manrope: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;

  --color-primary: #D95327;
  --color-primary-dark: #a93103;
  --color-secondary: #D9822B;
  --color-tertiary: #733E1F;
  --color-neutral: #1A1412;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

body {
  background-color: #fff8f6;
}

button, a {
  cursor: pointer;
}
html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}
p {
  @apply font-manrope
}
